@tailwind base;
@tailwind components;
@tailwind utilities;

.link-hover {
  @apply md:hover:underline underline-offset-4;
}

* {
  @apply font-plus-jakarta
}

.available-balance {
  background-image: url('/images/available-balance-bg.svg');
  background-color: rgb(30, 61, 215);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 248px;
}

.loan-balance {
  background-image: url('/images/loan-balance-bg.svg');
  background-color: rgb(0, 153, 255);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 248px;
}

.courses {
  /* background-color: rgb(237, 237, 237); */
  background-color: #fff;
  height: 248px;
}

body {
  @apply bg-[#f8f9fc]
}

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}

.form-label {
  @apply font-semibold
}

.form-input {
  @apply w-full border p-4 rounded-md bg-transparent outline-none placeholder:text-sm
}

.settings-tab {
  @apply flex md:p-5 p-2 md:text-base text-sm md:w-auto w-full md:text-left md:justify-start justify-center rounded-lg focus:outline-none hover:bg-primary hover:text-white data-[selected]:bg-primary data-[selected]:text-white data-[focus]:outline-1 data-[focus]:outline-white
}

.h-81 {
  height: 80%;
  background: #000;
}

::-webkit-scrollbar {
  width: 5px;
}